<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="NomduPort" value= "COM1"/>
        <add key="VitesseTransmission" value= "9600"/>
        <add key="FormatData" value= "8"/>
        <add key="NbStop" value= "1"/>
        <add key="Parite" value= "n"/>
        <add key="DeplacementX" value= "100000"/>
        <add key="Deplacement-X" value= "100000"/>
        <add key="DeplacementY" value= "100000"/>
        <add key="Deplacement-Y" value= "100000"/>
        <add key="SuiviSideral" value= "100000"/>
        <add key="VitesseSiderale" value= "4"/>
    </appSettings>
</configuration>